# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\skyvi\Desktop\AGH zdalne semestr 3\JAVA\Ćwiczenia\zadania\obiektoweLab\lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
